@model MyVet.Web.Data.Entities.Activity

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Activity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FechaActividad" class="control-label"></label>
                <input asp-for="FechaActividad" class="form-control" />
                <span asp-validation-for="FechaActividad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextoDescriptivo" class="control-label"></label>
                <input asp-for="TextoDescriptivo" class="form-control" />
                <span asp-validation-for="TextoDescriptivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inicio" class="control-label"></label>
                <input asp-for="Inicio" class="form-control" />
                <span asp-validation-for="Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cierre" class="control-label"></label>
                <input asp-for="Cierre" class="form-control" />
                <span asp-validation-for="Cierre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

